{% extends 'base.html' %}

{% block content %}
{% for bird in birds %}
    <div>
        <h2><a href="{% url 'bird_detail' bird_id=bird.id %}">{{ bird.en }}</a></h2>
        <p>Gen: {{ bird.gen }}</p>
        <p>Sp: {{ bird.sp }}</p>
        ...
        <!-- Add other fields as needed -->
        {% if bird.image %}
            <img src="{{ bird.image.url }}" alt="{{ bird.en }}">
        {% else %}
            <p>No image available</p>
        {% endif %}
        <audio controls>
            <source src="{{ bird.audio.url }}" type="audio/wav">
        </audio>
    </div>
{% endfor %}

{% endblock %}